/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #252936;
}

/* Profile Section */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  max-width: 450px;
  padding: 20px;
  background-color: #222530;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #e7e2e2;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-position: center top;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}

.profile-info {
  font-size: 1.2rem;
  color: #e7e2e2;
}

.contact-info {
  margin-top: 20px;
  text-align: left;
}

.contact-item {
  font-size: 1rem;
  color: #e7e2e2;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  transition: all 0.3s ease-in;
}

.contact-item:hover {
  color: #d8d0d0;
}

/* Skills Legend Styling */
p {
  font-size: 1rem;
  color: #e7e2e2;
  margin-bottom: 10px;
}

.skill {
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in;
}

/* Proficient Skills (Green) */
.proficient {
  background-color: #269640; /* Green */
}

.proficient:hover {
  background-color: #197e2f;
}

/* Intermediate Skills (Yellow) */
.intermediate {
  background-color: #f0b607; /* Yellow */
}

.intermediate:hover {
  background-color: #d39f04;
}

/* Skills Section */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
/* Portfolio Section */
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.portfolio h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #e7e2e2;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.project {
  display: block;
  text-align: left;
  background-color: #222530;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-content {
  padding: 10px;
}

.project h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.project-description {
  font-size: 1rem;
  color: #e0e0e0;
  margin-top: 5px;
}

/* Skills Used */
.skills-used {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-used .skill {
  background-color: #eef;
  color: #020202;
  font-size: 0.9rem;
}

.project:hover {
  transform: translateY(-5px);
}

.project a {
  color: inherit;
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 1200px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .profile {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .profile {
    padding: 15px;
    width: 90%;
  }

  .profile-name {
    font-size: 1.8rem;
  }

  .profile-info {
    font-size: 1.1rem;
  }

  .contact-item {
    font-size: 0.9rem;
  }

  .portfolio {
    width: 100%;
    padding: 20px;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .skills {
    flex-direction: column;
    align-items: center;
  }
  .profile {
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  .profile-pic {
    width: 120px;
    height: 120px;
  }

  .profile-name {
    font-size: 1.6rem;
  }

  .profile-info {
    font-size: 1rem;
  }

  .contact-item {
    font-size: 0.9rem;
  }
}

a {
  text-decoration: none;
  color: white;
}
